
@{
    ViewBag.Title = "ThayDoiThongTinTaiKhoan";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<script type="text/javascript">

    function Update() {
        var validated = true;
      
        if (validated == true) {
            
            document.submitForm.submit();

        }
    }
</script>
<style type="text/css">

    #mailFram {
            margin:0px 0px 0px 0px;
    }

</style>

<div class="Block">
    <div class="defaultTitle MyAccountTitle ">
        <h1>
            Hộp thư
        </h1>
        <br />
    </div>
    <div id="container">
   
     
        @*<div class="col-sm-8">
	    			<div class="contact-form">
	    				<h2 class="title text-center">Get In Touch</h2>
	    				<div class="status alert alert-success" style="display: none"></div>
				    	<form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
				            <div class="form-group col-md-6">
				                <input type="text" name="name" class="form-control" required="required" placeholder="Name">
				            </div>
				            <div class="form-group col-md-6">
				                <input type="email" name="email" class="form-control" required="required" placeholder="Email">
				            </div>
				            <div class="form-group col-md-12">
				                <input type="text" name="subject" class="form-control" required="required" placeholder="Subject">
				            </div>
				            <div class="form-group col-md-12">
				                <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Your Message Here"></textarea>
				            </div>                        
				            <div class="form-group col-md-12">
				                <input type="submit" name="submit" class="btn btn-primary pull-right" value="Submit">
				            </div>
				        </form>
	    			</div>
	    		</div>       *@ 

         <div> 
    <object type="text/html" data="https://www.facebook.com/groups/540370975978775/1134657073216826/?notif_t=group_activity" width="800px" height="600px" style="overflow:auto;border:5px ridge blue">
    </object></div>

   </div>
  





</div>



