y
@{
    ViewBag.Title = "DangNhap";
}

<link href="@Url.Content("~/Content/styleDangKi.css")" rel="stylesheet" type="text/css" />

<style type="text/css">

    #message{
        width : 1000px;
    }

    #container {
        margin-left: 20%;
        margin-right: 20%;
    }

</style>

<script type="text/javascript">

    
    
</script>



  <div id="container">
   
     
        

   </div>
  




